.container-primary {
    @apply /* color */ 
      bg-fond-cards
      dark:bg-fond-dark-cards;
  }
  
  .container-default {
    @apply rounded-2xl
          sm:rounded-2xl
          md:rounded-3xl;
  }
  
  .container-box {
    @apply drop-shadow-md;
  }
  
  .container-small {
    @apply px-4 py-5 sm:px-8 md:px-12 md:py-8;
  }
  
  .container-basic {
    @apply px-4 py-5 sm:px-8 md:px-12 md:py-8;
  }
  
  .container-large {
    @apply px-4 py-5 sm:px-8 md:px-12 md:py-8;
  }
  
  .container-fit {
    @apply max-w-fit
      rounded-2xl md:rounded-3xl;
  }
  
  .container-club {
    @apply max-w-3xl
      rounded-2xl md:rounded-3xl;
  }
  
  .container-xs {
    @apply w-full sm:max-w-xs;
  }
  
  .container-s {
    @apply w-full sm:max-w-sm;
  }
  
  .container-m {
    @apply w-full sm:max-w-md;
  }
  
  .container-l {
    @apply w-full sm:max-w-lg;
  }
  
  .container-xl {
    @apply w-full md:max-w-xl;
  }
  
  .container-xxl {
    @apply w-full md:max-w-2xl;
  }
  
  .container-xxxl {
    @apply w-full md:max-w-3xl;
  }
  
  .container-xxxxl {
    @apply w-full md:max-w-4xl;
  }
  
  .container-xxxxxl {
    @apply w-full md:max-w-5xl;
  }
  
  .container-xxxxxxl {
    @apply w-full md:max-w-6xl;
  }
  