body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fond-palmier {
  background-image: url(../assets/picture/fond-palmier.jpg)
}

.fond-ecran-club {
  background-image: url(../assets/picture/sound-wave.jpg)
}

.fond-ecran-dj {
  background-image: url(../assets/picture/dj.jpg)
}

.fond-ecran-host {
  background-image: url(../assets/picture/chanteur.jpg)
}

.fond-ecran-dancer {
  background-image: url(../assets/picture/danseuse.jpg)
}

.fond-ecran-shop {
  background-image: url(../assets/picture/shop.jpg)
}

.fond-ecran-hobby {
  background-image: url(../assets/picture/antille.jpg)
}

@tailwind base;
@tailwind components;
@tailwind utilities;

